USE [master]
GO
/****** Object:  Database [bancoDB]    Script Date: 5/3/2026 4:50:23 ******/
CREATE DATABASE [bancoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bancaDB', FILENAME = N'C:\BD\SQL_SERVER\MSSQL16.MSQL_TITUSERVER\MSSQL\DATA\bancaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'bancaDB_log', FILENAME = N'C:\BD\SQL_SERVER\MSSQL16.MSQL_TITUSERVER\MSSQL\DATA\bancaDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bancoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bancoDB]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 5/3/2026 4:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_persona] [int] NOT NULL,
	[password] [varchar](15) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 5/3/2026 4:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[numero_cuenta] [varchar](20) NOT NULL,
	[tipo_cuenta] [varchar](11) NOT NULL,
	[saldo_inicial] [decimal](18, 2) NOT NULL,
	[estado_cuenta] [bit] NOT NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [PK_cuentas] PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 5/3/2026 4:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cuenta] [int] NOT NULL,
	[tipo_movimiento] [varchar](10) NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 5/3/2026 4:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
	[genero] [varchar](12) NOT NULL,
	[edad] [int] NOT NULL,
	[identificacion] [bigint] NULL,
	[direccion] [varchar](20) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_persona] FOREIGN KEY([id_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_persona]
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD  CONSTRAINT [FK1l41yqnls17ui25a0s1ldhxdk] FOREIGN KEY([id_persona])
REFERENCES [dbo].[cliente] ([id_persona])
GO
ALTER TABLE [dbo].[cuentas] CHECK CONSTRAINT [FK1l41yqnls17ui25a0s1ldhxdk]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FKlebenvy2r7bf11m3tfi8uc9gu] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[cuentas] ([id_cuenta])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FKlebenvy2r7bf11m3tfi8uc9gu]
GO
USE [master]
GO
